.product-card__container {
    display: flex;
    width: 930px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.plans-container__slider {
    justify-content: center;
}
.bitcoin-img-container {
    width: 100%;
    min-width: 930px;
    height: 70vh;
    background-image: url("../assets/img/bitcoinbaby2x.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}